@model UD7Ej1.Models.ViewModels.EditarPersonaVM

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Editar Persona";
}


<form>
    <label>Nombre</label>
    @Html.TextBoxFor(model => model.persona.nombre)
    <br />
    <label>Edad</label>
    @Html.TextBoxFor(model => model.persona.edad)
    <br />
    <label>Departamentos</label>
    <select name="Departamentos">
        @foreach(var depa in Model.departamentos)
        {
            <option id="@depa.id">@depa.nombre</option>
        }
    </select>

    <button action="submit">Cambiar</button>

    
</form>
