<h2>My Listilla</h2>
<ul class="heroes">
  <li>
    <button type="button">
      <span class="badge">1</span>
      <span class="name">Ironman</span>
    </button>
  </li>
  <li>
    <button type="button">
      <span class="badge">2</span>
      <span class="name">Spiderman</span>
    </button>
  </li>
  <li>
    <button type="button">
      <span class="badge">3</span>
      <span class="name">Thor</span>
    </button>
  </li>
</ul>

<a routerLink ="" routerLinkActive="active" ariaCurrentWhenActive="page">Volver a la tabla</a>