@model UD7Ej1.Models.Entities.Persona

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Id</h2>
<h3>@Model.id</h3>

<h2>Nombre</h2>
<h3>@Model.nombre</h3>

<h2>Edad</h2>
<h3>@Model.edad</h3>