
<table border="1">
    <thead>
        <tr>
            <th>id</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Juan Pérez</td>
        </tr>
        <tr>
            <td>2</td>
            <td>María García</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Carlos López</td>
        </tr>
    </tbody>
</table>

<br>

<a routerLink="formulario" routerLinkActive="active" ariaCurrentWhenActive="page">Abrir Formulario</a>
<br>
<a routerLink="listilla" routerLinkActive="active" ariaCurrentWhenActive="page">Abrir Lista</a>
<br>
<a routerLink="formularioReactivo" routerLinkActive="active" ariaCurrentWhenActive="page">Abrir Formulario formularioReactivo</a>