
<table border="1">
    <thead>
        <tr>
            <th>id</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Juan Pérez</td>
        </tr>
        <tr>
            <td>2</td>
            <td>María García</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Carlos López</td>
        </tr>
    </tbody>
</table>

<br>

<a routerLink="formulario" routerLinkActive="active" ariaCurrentWhenActive="page">Abrir Formulario</a>
<br>
<a routerLink="listilla" routerLinkActive="active" ariaCurrentWhenActive="page">Abrir Lista</a>
<br>
<a routerLink="formularioReactivo" routerLinkActive="active" ariaCurrentWhenActive="page">Abrir formularioReactivo</a>
<br>
<a routerLink="formularioReactivoBien" routerLinkActive="active" ariaCurrentWhenActive="page">Abrir formularioReactivoBien</a>

<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
<mat-radio-button>Boton Radioso</mat-radio-button>
<br>
<mat-slider>
  <input matSliderThumb>
</mat-slider>
<br>
<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title> Juego </mat-panel-title>
    <mat-panel-description> A donde ta mi niño... </mat-panel-description>
  </mat-expansion-panel-header>
  <p>Aqui taa!</p>
</mat-expansion-panel>